.vs/

.env
.env.local
.env.*.local

**/bin/
**/obj/

frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

DePasoAlimentos/appsettings.Development.json

*.user
*.suo
*.rsuser
